* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

h1 {
  color: #333;
  font-size: 3rem;
  margin-bottom: 20px;
}

hr {
  width: 80%;
  border: 0;
  border-top: 2px solid #333;
  margin-bottom: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"] {
  padding: 10px;
  width: 250px;
  font-size: 1.2rem;
  text-align: center;
  border: 2px solid #333;
  border-radius: 5px;
  margin-bottom: 15px;
  transition: border-color 0.3s;
}

input[type="text"]:focus {
  border-color: #05c46b;
  outline: none;
}

.buttons {
  display: flex;
  justify-content: center;
}

button {
  background-color: #05c46b;
  color: white;
  font-size: 1rem;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #04a157;
}

.intentos {
  font-size: 1.2rem;
  margin-top: 20px;
  color: #333;
}

.Wordle-Game {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fila {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  color: #fff;
  transition: background-color 0.3s ease;
}

.fila:nth-child(odd) {
  margin-right: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.attempt-container {
  display: flex;
  margin-bottom: 10px;
}

.fila {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #131313;
}